/* Search area */

.search-div {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin-bottom: 20px;
  align-items: center;
}
.form-user-input-wrapper {
  display: flex;
  align-items: center;
  width: 90%;
}

.search-icon {
  padding: 10px 0px;
  align-self: bottom;
  align-items: bottom;
}

.search-button {
  border: none;
  outline: none;
  border-radius: 5px;

  width: 75px;
  height: 40px;

  background-color: #0078fd;
  color: #f0f8ff;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
}

.search-input {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  padding: 5px 0 0 15px;
}

.search-input::placeholder,
.search-input:focus {
  font-family: "Roboto Mono", monospace;
}
